@use './colors';

.header-container {
  height: 200px;
  background-color: colors.$white;
  display: flex;
  justify-content: center;

  .box {
    height: 100%;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .logo {
      
      img {
        height: 80px;         
      }  
    }

    .contact {
      display: flex;
      justify-content: flex-end;

      .touch {
        display: flex;

        .icon {
          font-size: 45px;
          color: colors.$main;
        }

        .text-touch {
          margin-left: 20px;
          
          p:first-child {
            font-weight: 600;
            margin-top: 0;
            font-size: 18px;
          }

          p {
            margin-bottom: 0;
            line-height: 24px;
            font-size: 16px;
          }
        }
      }

      .email {
        margin-left: 50px; 
        margin-right: 50px;
      }
    }
  }
}

.navigation {
  width: 100%;

  .navigation-box {
    display: flex;
    justify-content: center;

    ul {
      width: 1200px;
      height: 60px;
      background-color: colors.$main;
      display: flex;
      justify-content: center;
      align-items: middle;

      li {
        display: inline-block ;
        height: 40px;
        margin-top: 19px;

        a {
          font-size: 18px;
          text-transform: uppercase;
          padding: 11px 30px;
          font-weight: 600;
          color: colors.$white;
          transition: 300ms;

          i {
            margin-left: 10px;
            opacity: 0;
            transition: 300ms;
          }
        }

        a:hover {
          color: colors.$main;
          background-color: colors.$white;
          margin-left: -10px;

          i {
            margin-left: 20px;
            opacity: 1;
          }
        }
      }  
    } 
  }
}

.banner {
  margin-top: -30px;
  width: 100%;
  object-fit: cover;
  height: 550px;
  background-image: url('../images/house.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  
  .text {
    width: 1200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
      height: 96px;
      
      span {
        height: 96px;
        font-size: 60px;
        font-weight: 600;
        color: colors.$white;
        letter-spacing: 2px;
        opacity: 0;
        transition: opacity 300ms;
      }
      
      .show {
        opacity: 1;
      }
      
      .corners {
        display: inline-block;
        width: 80px;
        height: 80px;
        border: 8px solid colors.$main;
        text-align: center;
        clip-path: polygon(
          0 0,
          30% 0,
          30% 8px,
          70% 8px,
          70% 0,
          100% 0,
          100% 30%,
          calc(100% - 8px) 30%,
          calc(100% - 8px) 70%,
          100% 70%,
          100% 100%,
          70% 100%,
          70% calc(100% - 8px),
          30% calc(100% - 8px),
          30% 100%,
          0 100%,
          0 70%,
          8px 70%,
          8px 30%,
          0 30%
        )
      }
    }

    .banner-button {
      margin-top: 60px;
      height: 45px;

      a {
        padding: 15px 20px;
        color: colors.$white;
        border: 1px solid colors.$white;
        border-radius: 3px;
        margin: 20px;
        transition: 300ms;
        opacity: 0;
        transition: opacity 300ms;

        i {
          margin-left: 20px;
          font-size: 18px;
        }
      }  
    
      a:hover {
        border-color: colors.$main;
        background-color: colors.$main;
      }

      .show {
        opacity: 1;
      }
    } 
  } 
}

.our-services {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;

  .container {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .services {
      width: 575px;
      margin-bottom: 50px;
      display: flex;
      justify-content: space-between;
      position: relative;

      .service-icon {
        position: absolute;
        left: 257px;
        top: 30px;
        width: 60px;
        height: 60px;
        background-color: colors.$main;
        transform: rotate(45deg);
        border: 5px solid colors.$white;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
          font-size: 32px;
          color: colors.$white;
          transform: rotate(-45deg);
        }
      }
    
      .text {
        width: 285px;
        color: colors.$white;
        background-color: colors.$dark;
        text-align: center;
        position: relative;

        h3 {
          color: colors.$main;
          margin: 20px auto;
          font-size: 18px;
        }

        p {
          margin: 50px;
          font-size: 16px;
        }

        h3:after {
          position: absolute;
          left: 92px;
          content: "";
          display: block;
          margin-top: 15px;
          background-color: colors.$main;
          width: 101px;
          height: 2px;
        }
      }

      .photo {
        width: 285px;
        height: 100%;
        overflow: hidden;
        
        img {
          width: 285px;
          height: 100%;
          object-fit: cover;
          transform: scale(1);
          transition: transform 300ms;
        }

        img:hover {
          transform: scale(1.3);
        }
      }
    }
  }
}

footer {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: colors.$dark;
  color: colors.$white;

  .container {
    width: 1200px;
    display: flex;
    justify-content: space-evenly;
  }
}

.disable-view {
  display: none;
}